body { font-family: "HelveticaNeue-Medium", "HelveticaNeue Medium", "Verdana", "Tahoma"; padding:30px; }

.dgtable-wrapper { border: solid 1px #ccc; }
.dgtable-wrapper.rtl { direction:rtl; }
.dgtable { border-top: solid 1px #ccc; max-width: 100%; background-color: transparent; }
.dgtable-header{ max-width: 100%; overflow: hidden; background: #eee; }
.dgtable-header-row{ height: 26px; }

.dgtable-header-cell{
    float:left; padding: 4px; height: 18px; border-left: solid 1px #ccc;
    background: #ddd;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    cursor: default;
    text-align: center;
}
.dgtable-header-cell:first-child{ border-left: 0; }
.dgtable-header-cell>div{ border: 1px dashed transparent; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis; }
.dgtable-header-cell.drag-over>div{ border-color: #666; background: #bbb; }

.dgtable-wrapper.rtl .dgtable-header-cell{
    float:right;
    border-left: 0;
    border-right: solid 1px #ccc;
}
.dgtable-wrapper.rtl .dgtable-header-cell:first-child{
    float:right;
    border-right: 0;
}

.dgtable-row{ border-top: solid 1px #ccc; height: 28px; }
.dgtable-row:first-child{ border-top: 0; }
.dgtable.virtual .dgtable-row{ border-top: 0; border-bottom: solid 1px #ccc; }
.dgtable-cell{
    float:left; padding: 5px 4px 3px; height: 20px; border-left: solid 1px #ccc;
    font-size: 16px;
    line-height: 19px;
}
.dgtable-wrapper.rtl .dgtable-cell{
    float:right;
    border-left: 0;
    border-right: solid 1px #ccc;
}
.dgtable-wrapper.rtl .dgtable-cell:first-child{
    float:right;
    border-right: 0;
}


.dgtable-cell>div{ max-height: 100%; white-space: nowrap; overflow: hidden }
.dgtable-cell:first-child{ border-left: 0; }

.dgtable-header-cell.sortable { cursor: pointer; }
.dgtable-header-cell.sorted { }
.dgtable-header-cell.sorted .sort-arrow { float: right; display:inline-block; width: 15px; height: 6px; margin: 5px 0 0 0; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAMAAAAi7JTKAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAMAUExURQNOov///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH52dxwAAAACdFJOU/8A5bcwSgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAB9JREFUCB0FwQEBAAAAgJD8Px0VoFKgRKEIpRBUEAgMBlQAL3y6umEAAAAASUVORK5CYII=") no-repeat center center; }
.dgtable-header-cell.sorted.desc .sort-arrow { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAMAAAAi7JTKAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAMAUExURQNOov///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH52dxwAAAACdFJOU/8A5bcwSgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAB9JREFUCB0FwQEBAAAAgJD8Px2BQFBBKIUoFClQKkANBywAL6PcDsUAAAAASUVORK5CYII="); }
.dgtable-wrapper.rtl .dgtable-header-cell.sorted .sort-arrow { float: left; }

.dgtable-cell-preview{
    font-size: 16px;
    line-height: 19px;
}
/* Making the cell preview show correct styling when previewing header cells */
.dgtable-cell-preview.header{
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
}
.dgtable-cell-preview.header>div{ border: 1px dashed transparent; }
.dgtable-cell-preview.header.sortable{ cursor: pointer; }
.dgtable-cell-preview.header.drag-over>div { border-color: #666; background: #bbb; }